body {
  padding-top: 3.5rem;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.container-40 {
  max-width: 40rem;
}

.container-50 {
  max-width: 50rem;
}

.color-5a {
  color: #5a5a5a;
}

