.result {
  height: 200px;
  overflow-y: scroll;
  border: 2px solid white;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: silver;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.material-icons {
  cursor: pointer;
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
}

.material-icons:hover {
  background-color: black;

}

.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 280px;

  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
}


.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: white;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown) + span {
  color: white;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
}

.inp input:focus + span {
  color: white;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
  transform: scaleX(1);
}
