<main role="main">

  <!----------------------------------------------------------------------------->
  <!-- Demo Section                                                            -->
  <!----------------------------------------------------------------------------->

  <section class="jumbotron bg-light text-center">
    <div class="container">
      <h1 class="jumbotron-heading">VIPdrv - VIP Test Drive</h1>
      <p class="lead text-muted">
        Creating the Best Online Customer Experience for Scheduling Test Drives Today
      </p>
      <!--            <p>-->
      <!--                <button class="btn btn-primary"-->
      <!--                        onclick="VipDrive.openWidget({-->
      <!--                        vin: 'JTJGA31U940015971',-->
      <!--                        imageUrl: 'https://www.testdrive.pw/bmw.jpg',-->
      <!--                        title:'New 2018 BMW M140i',-->
      <!--                        engine: '3.8 litre twin-turbo V6',-->
      <!--                        year: '2018',-->
      <!--                        exterior:'Dark Blue',-->
      <!--                        transmission: 'Manual'})">Open Widget-->
      <!--                </button>-->
      <!--                <a href="https://admin.testdrive.pw" target="_blank" class="btn btn-secondary">Admin Dashboard</a>-->
      <!--            </p>-->
    </div>
  </section>


  <!----------------------------------------------------------------------------->
  <!-- Steps                                                                   -->
  <!----------------------------------------------------------------------------->
  <div class="container mt-5">

    <!--<div class="row">-->
      <!--<div class="col-12">-->
        <!--<h2 class="featurette-heading text-center mt-0">How it works</h2>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-md-8">
        <h2 class="featurette-heading color-5a">
          Pick Date & Time.
          <!--<span class="text-muted">Easy to start</span>-->
        </h2>
        <p class="lead">
          All dealer websites stop here. Watch how we take a boring lead form and create the best online
          experiences for scheduling test drives.
        </p>
      </div>
      <div class="col-lg-4">
        <img class="featurette-image img-fluid mx-auto"
             src="/assets/img/widget-steps/step__date-time.png"
             alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading">
          Chose the Expert you feel comfortable with.
          <!--<span class="text-muted">See for yourself.</span>-->
        </h2>
        <p class="lead">
          We give the customer the ability to select a salesperson for their test drive appointment. This
          puts a name/face up front and begins the personalization of the test drive.
        </p>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
             src="/assets/img/widget-steps/step__expert.png"
             alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-8">
        <h2 class="featurette-heading color-5a">
          Chose your favorite Beverage.
          <!--  <span class="text-muted">Checkmate.</span>-->
        </h2>
        <p class="lead">
          Yes, that's right. What better way to establish a good connection with a potential customer,
          than to offer to have a beverage waiting for them upon their arrival.
        </p>
      </div>
      <div class="col-md-4">
        <img class="featurette-image img-fluid mx-auto"
             src="/assets/img/widget-steps/step__beverage.png"
             alt="Generic placeholder image">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading color-5a">
          Select Route
          <!--<span class="text-muted">We got you covered.</span>-->
        </h2>
        <p class="lead">
          What type of test drive do you want to take?
          Typical daily commute, hit the open road or quick drive by the house to park in the garage?  We got you covered.
        </p>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
             src="/assets/img/widget-steps/step__route.png"
             alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-8">
        <h2 class="featurette-heading color-5a">
          Vehicle Delivery
          <!--<span class="text-muted">We got you covered.</span>-->
        </h2>
        <p class="lead">
          Where would you like your Test Drive ?
        </p>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
             src="/assets/img/widget-steps/step__location.png"
             alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading">Complete Booking<br>
          <!--                        <span class="text-muted">We got you covered.</span>-->
        </h2>
        <p class="lead">
          Our goal is to give your customers the best test drive experience to fit their lifestyle.
        </p>
      </div>
      <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
             src="/assets/img/widget-steps/step__contact.png"
             alt="Generic placeholder image">
      </div>
    </div>

  </div>


  <!----------------------------------------------------------------------------->
  <!-- Steps                                                                   -->
  <!----------------------------------------------------------------------------->
  <!--<div class="container mt-5">-->
    <!--<div class="row">-->
      <!--<div class="col-12">-->
        <!--Compatibility-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <section class="jumbotron text-center bg-light mt-5">
    <div class="container container-50">
      <h1 class="font-weight-300">Want more Appointments ?</h1>
      <p class="lead text-muted">Add VIPdrv to your dealer website and set your dealership apart from competition!</p>
    </div>
  </section>

  <!----------------------------------------------------------------------------->
  <!-- Our Team                                                                -->
  <!----------------------------------------------------------------------------->

  <!--<div class="container marketing">-->
    <!--<h2 class="featurette-heading text-center">Our Team</h2>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-4">-->
        <!--<a href="https://www.linkedin.com/in/jasoncaputnam/" target="_blank">-->
          <!--<img class="rounded-circle"-->
               <!--src="/assets/img/users/jason.jpg"-->
               <!--alt="Generic placeholder image"-->
               <!--width="140" height="140">-->
        <!--</a>-->
        <!--<h3 class="font-weight__400">Jason Putnam</h3>-->
        <!--<h4 class="font-weight__400">CEO & Founder</h4>-->
        <!--<p>-->
          <!--Experienced Vice President Sales & Marketing with a clear path history of success in digital-->
          <!--marketing for the automotive vertical.-->
          <!--<br>Multi level skill set with Executive Sales Negotiation, Leadership, Management, Product-->
          <!--Strategy-->
          <!--and Marketing.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<img class="rounded-circle" src="/assets/img/users/hacker.jpg"-->
             <!--alt="Generic placeholder image" width="140" height="140">-->
        <!--<h3 class="font-weight__400">Sergey Pahomov</h3>-->
        <!--<h4 class="font-weight__400">IT Team Leader</h4>-->
        <!--<p>-->
          <!--Web Development is more than just a career to me, it has been my job, hobby and passion for over-->
          <!--a-->
          <!--decade, yet my enthusiasm and thirst for knowledge in this field is as deep as it was on the day-->
          <!--I-->
          <!--wrote my first line of code.-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="col-lg-4">-->
        <!--<img class="rounded-circle" src="/img/users/designer.jpg"-->
             <!--alt="Generic placeholder image" width="140" height="140">-->
        <!--<h3 class="font-weight__400">Vladimir Epifantsev</h3>-->
        <!--<h4 class="font-weight__400"> UI/UX Team Leader</h4>-->
        <!--<p>-->
          <!--Hardworking UX/UI designer who solves problems with intuitive design.-->
          <!--With a background in design, marketing, writing and research, I blend brand and product design to-->
          <!--create an overall delightful experience.-->
          <!--Designing both web and mobile products.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<a href="https://www.linkedin.com/in/aarondahlstedt/" target="_blank">-->
          <!--<img class="rounded-circle"-->
               <!--src="/assets/img/users/aaron.jpg"-->
               <!--alt="Generic placeholder image" width="140" height="140">-->
        <!--</a>-->
        <!--<h3 class="font-weight__400">Aaron Dahlstedt</h3>-->
        <!--<h4 class="font-weight__400">Digital Marketing Specialist</h4>-->
        <!--<p>-->
          <!--Technology specialist with management experience. Excited by spreadsheets, databases, systems-->
          <!--and tools.-->
          <!--Global perspective enhanced by working overseas.-->
          <!--Experience working with training for staff and identifying opportunities for improvement.-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!----------------------------------------------------------------------------->
  <!-- Button Examples
  <!----------------------------------------------------------------------------->

</main>
