<section class="jumbotron text-center bg-light">
  <div class="container container-40">
    <h1 class="font-weight-300">Integration</h1>
    <p class="lead text-muted">More features for your marketing.</p>
  </div>
</section>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h4>Page Buttons - SRP</h4>
      <hr class="mt-0"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top w-100" src="https://www.regcheck.org.uk/image.aspx/@Qk1XIFgzIDIwMTg=" />
        <div class="card-body">
          <h5 class="card-title">2018 BMW X3</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="vipdrive__button-8689 w-100"
                 vin="vin-goes-here"
                 vehicleTitle="2018 BMW X3"
                 vehicleImageUrl="https://www.regcheck.org.uk/image.aspx/@Qk1XIFgzIDIwMTg=">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4>Page Buttons - VDP</h4>
      <hr class="mt-0"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-12">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="https://www.regcheck.org.uk/image.aspx/@Qk1XIFgzIDIwMTg=" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">2018 BMW X3</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <!--<p class="card-text">-->
              <!--<small class="text-muted">Last updated 3 mins ago</small>-->
              <!--</p>-->
              <div class="vipdrive__button-8883"
                   vehicleTitle="2018 BMW X3"
                   vehicleImageUrl="https://www.regcheck.org.uk/image.aspx/@Qk1XIFgzIDIwMTg=">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row mt-4">-->
    <!--<div class="col-12">-->
      <!--<h4>Direct Widget Links</h4>-->
      <!--<hr class="mt-0"/>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<h6>Direct Widget link</h6>-->
      <!--<a class="btn btn-sm btn-primary mr-1" [href]="separatePageUrl | safe" target="_blank" role="button">-->
        <!--Widget Link-->
      <!--</a>-->
    <!--</div>-->

    <!--<div class="col-12 mt-4">-->
      <!--<h6>Direct Widget link + Preselected Salesperson</h6>-->
      <!--<a class="btn btn-sm btn-primary" [href]="separateExpertPageUrl | safe" target="_blank" role="button">-->
        <!--Widget Link + Salesperson-->
      <!--</a>-->
    <!--</div>-->

    <!--<div class="col-12 mt-4">-->
      <!--<h6>Direct Widget link + Preselected Salesperson + Preselected Vehicle</h6>-->
      <!--<a class="btn btn-sm btn-primary disabled" href="javascript:void(0)" role="button">-->
        <!--Coming soon :)-->
      <!--</a>-->
    <!--</div>-->

    <!--<div class="col-12 mt-4">-->
    <!--<h6>Direct Widget link with preselected Expert</h6>-->
    <!--<a class="btn btn-sm btn-primary" href="#openVipDrive=1&expertId=1020" target="_blank" role="button">-->
    <!--Widget Link-->
    <!--</a>-->
    <!--</div>-->
  <!--</div>-->

</div>

<section class="jumbotron text-center bg-light mt-5">
  <div class="container container-50">
    <h1 class="font-weight-300">Want more Appointments ?</h1>
    <p class="lead text-muted">Add VIPdrv to your dealer website and set your dealership apart from competition!</p>
  </div>
</section>
